<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CMS_IO/src/kr/jaen/cms/CustomerMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="kr.jaen.cms.CustomerMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CMS_IO"/>
</launchConfiguration>
